*{
    margin: 0;
    padding: 0;
    font-family: "Constantia Regular", "Constantia Regular", serif;
  
}
/*-------------------------intro--------------------------*/
.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }
  .slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  
  .intro-text {
    color: rgb(233, 233, 233);
    word-spacing: 15px;

    font-size: 3rem;
  }
  
  #text{
      word-spacing: 10px;
  }
  .hide {
    background: black;
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
/*------------------------------------banner---------------------------------------*/
#banner{
position: absolute;
height:630px;
transition: all 700ms ease-in-out ; 
opacity: 0.3;
}
#banner:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
    transition: all 900ms ease-in-out; 
    transition-delay: 500ms;
}
/*-------------------------------bannerheadline-----------------------------------------*/
.headline{
    font-family: "Constantia Regular", "Constantia Regular", serif;
    color:#000000;
}
.info{
    position: relative;
    text-align: left;
    margin-top:190px;
    margin-left: 198px;   
}
#bannerimg{
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 120px;
    margin-left: 80px;

}
.typing{
    color:#000000;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#sidetext{
    font-family: "Constantia Regular", "Constantia Regular", serif;
    color:#000000;
    font-size: 30px;

}
#btn{
    position: relative;
    color:#000000;
    border: 1px solid #666;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
   border-radius: 8px;
}
/*---------------------------------------about------------------------------------------------*/
#about{
    position: relative;
    margin-top: 150px;
   background-color:#03101b
}
#more{
    display: none;
}
#myBtn{
    padding: 5px;
    border: none;
    background-color:#e3f2ff ;
    color: red;
}
#para{
    font-family: "Constantia Regular", "Constantia Regular", serif;
    padding-top: -10px;
    margin-top: 40px;
    margin-right: 16px;
    margin-bottom: 20px;
    word-spacing: 3px;
    color: black;
    font-size: large;
    text-decoration: black;
    background-color: #e3f2ff;
}
#hello{
    color:red;
}
#cardimage{
    clip-path: polygon(0 5%, 100% 5%, 100% 100%, 0 100%);
}

/*-----------------------------------education-----------------------------------*/
#border{
    border:1px solid black;
    border-radius: 10px;
    background-color: #e1e4e7;
    padding-left: 43px;
    padding-bottom: 15px;

}

#cards{
    padding: 10px;
}
#cardpadding{
    border:none;
}
#cardcontain{
margin-left: 22px;
box-shadow: 0 0 10px #000000 ;
border-radius: 15px;
transition: all 500ms ease-in-out ; 
}
#headline-4{
    text-align: center;
    padding: 10px;
    font-family: "Constantia Regular", "Constantia Regular", serif;
}
#imgheight{
    height:220px;
    width:109%;
    margin-left: -12px;
    border-radius: 15px;
}
#cardcontain:hover{
    background: linear-gradient(-45deg, #ffec61, #f321d7);
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
  
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
    transition: all 500ms ease-in-out; 
 
}
/*--
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:lightblue;
    z-index: -1;
    background: linear-gradient(to left #ba7453 #d1a984);
}
section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    
}
.hero{
height: 60%;
width: 100%;
position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
object-fit: cover;
}
.headline-7{
    position: absolute ;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: #fff;
    z-index: 3;
}
.hero::after{
    content: "";
    background: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

-----------------------------------------*/

.bg-color{
    margin-top: -30px;
    background-color: #e3f2ff;
}

#cardskill{
    width: 100%;
    height:236px;
    padding: 10px;
    padding-left: 20px;
}
#cardrow{
    margin-top: 20px;
    padding-left: 30px;

}
#headline-5{
    text-align: center;
    margin-top: 30px;
    font-family: "Constantia Regular", "Constantia Regular", serif; 
    padding: 20px;
}
#cardbody:hover{
    background: linear-gradient(-45deg, #ffec61, #f321d7);
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
    background: linear-gradient(-45deg, #ffec61, #f321d7);
    transform: scale(0.50);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
    transition-timing-function: linear;
}
#cardbody{
box-shadow: 0 0 10px #000000 ;
border-radius: 15px;
transition: all 500ms ease-in-out ; 
}
/*-------------------------------------projects------------------------------------------------*/
a{
    text-decoration: none;
    color:#000000;
}
#projects{
    padding: 20px;
    border: #000000 1px solid;
    background-color:#e1e4e7 ;
    border-radius: 10px;
}

#headline-6{
    text-align: center;
    margin-top: 20px;
    font-family: "Constantia Regular", "Constantia Regular", serif;
    margin-bottom: 20px;
}

#projectbody{
    box-shadow: 0 0 10px #000000 ;
    border-radius: 15px;
    transition: all 700ms ease-in-out ; 
}
#projectbody:hover{
    background: linear-gradient(-45deg, #2980b9, #6dd5fa, #ffffff);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
    transition-timing-function: linear;
}
#projectimg{
border-radius: 15px;
}
/*---------------------------------certificate---------------------------*/

#certificate{

    background-color:#e1e4e7 ;
    border-radius: 15px;
    padding-left: 10px; 
    padding-top: 25px;
    padding-bottom: 25px;
    border: 2px solid black;
   
}

#cardtext{
    padding-top: 55px;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    transition: all 500ms ease-in-out; 
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 900ms ease-in-out; 
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background: linear-gradient(-45deg, #2980b9, #6dd5ed, #ffffff);
    color: linear-gradient(-45deg, #2980b9, #6dd5fa, #ffffff);
    transform: rotateY(180deg);
  }
 /*------------------------contact----------------------------*/
 #social{
     width:30px;
     height:auto
 }
 .footer{
     background-color:#e2f2f8 ;
    

 }
 #headline-7{
    text-align: center;
    padding-top: 10px;

    font-family: "Constantia Regular", "Constantia Regular", serif;
    
}
 .language{
     margin-bottom:-10px ;
 }